{% extends 'base.html' %} {% block head %}
<title>MAS</title>
{% endblock %} {% block body %}
<div class="block">
  <div style="padding: 10px 0px 30px 40px">
    <h2>Welcome to the Manual Annotation Studio (MAS) for Starships!</h2>
    <h4>
      Please use one of the navigation options above to continue. Start by
      uploading a Starship sequence.
    </h4>
  </div>
</div>

{% if user.is_authenticated %}
<div class="block">
  <div style="padding: 20px 0px 30px 40px">
    <h4>{{ ship_count }} Starships in database.</h4>
    <h4>
      {{ annotated_this_week }} Starship proteins have been annotated this week.
    </h4>
    <h4>
      {{ annotated_last_week }} Starship proteins were annotated last week.
    </h4>
  </div>
</div>
{% endif %} {% endblock %}
