.DS_Store
.idea/*
*.pyc
*.sqlite3
*/migrations/*
*/__pycache__/
.idea/
*.sql
*.tar.gz
*.pid
*.log
MAS/settings/__init__.py
mas_backup*.bundle
MAS/settings_files/secret_key.txt
output/**
logs/**
celerybeat-schedule.dat
databases/**
celerybeat*
backup.sh
