.DS_Store
.idea/*
*.pyc
*.sqlite3
*/migrations/*
*/__pycache__/
.idea/
*.sql
*.tar.gz
*.pid
logs/**
*.log
MAS/settings/__init__.py
mas_backup*.bundle
MAS/settings_files/secret_key.txt
output/**
databases/**
backup.sh
.env
static-files/**
celerybeat-*
media/**
*.fasta
*.faa
*.fna
*.ffn
*.faa
*.fna
*.ffn
*.fa