[Unit]
Description=MAS Worker
After=network.target

[Service]
Type=forking
User=adrian
Group={ABOVE USER'S GROUP}
WorkingDirectory=/mnt/sda/johannesson_lab/adrian/bin/MAS
ExecStart=/bin/sh -c '/mnt/sda/johannesson_lab/adrian/bin/MAS/mas-worker.sh start'
ExecStop=/bin/sh -c '/mnt/sda/johannesson_lab/adrian/bin/MAS/mas-worker.sh stop'
ExecReload=/bin/sh -c '/mnt/sda/johannesson_lab/adrian/bin/MAS/mas-worker.sh restart'
Restart=always

[Install]
WantedBy=multi-user.target
