{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Edit Starfish Run: {{ run.run_name }}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-edit"></i> Edit Starfish Run: {{ run.run_name }}</h4>
                </div>
                <div class="panel-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}

                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-save"></i> Update Run
                            </button>
                            <a href="{% url 'starfish:starfish_run_detail' run.pk %}" class="btn btn-default">
                                <i class="fa fa-times"></i> Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5><i class="fa fa-info-circle"></i> Run Information</h5>
                </div>
                <div class="panel-body">
                    <p><strong>Status:</strong> {{ run.get_status_display }}</p>
                    <p><strong>Created:</strong> {{ run.created_at|date:"M d, Y H:i" }}</p>
                    {% if run.started_at %}
                        <p><strong>Started:</strong> {{ run.started_at|date:"M d, Y H:i" }}</p>
                    {% endif %}
                    {% if run.completed_at %}
                        <p><strong>Completed:</strong> {{ run.completed_at|date:"M d, Y H:i" }}</p>
                    {% endif %}
                    {% if run.num_genomes %}
                        <p><strong>Genomes:</strong> {{ run.num_genomes }}</p>
                    {% endif %}
                    {% if run.num_elements_found %}
                        <p><strong>Elements Found:</strong> {{ run.num_elements_found }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
