{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Add Genome to {{ run.run_name }}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-dna"></i> Add Genome to Run: {{ run.run_name }}</h4>
                </div>
                <div class="panel-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-plus"></i> Add Genome
                            </button>
                            <a href="{% url 'starfish:starfish_genome_list' run.pk %}" class="btn btn-default">
                                <i class="fa fa-times"></i> Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5><i class="fa fa-info-circle"></i> Required Files</h5>
                </div>
                <div class="panel-body">
                    <h6>Genome Assembly (FASTA):</h6>
                    <p class="small">The genome assembly file in FASTA format. This should contain the complete genome sequence.</p>
                    
                    <h6>GFF3 Annotation:</h6>
                    <p class="small">The genome annotation file in GFF3 format. This should contain gene annotations and other features.</p>
                    
                    <h6>Optional Files:</h6>
                    <ul class="list-unstyled small">
                        <li><strong>eggNOG annotations:</strong> Pre-computed functional annotations</li>
                        <li><strong>CDS sequences:</strong> Coding sequences in FASTA format</li>
                        <li><strong>Protein sequences:</strong> Protein sequences in FASTA format</li>
                    </ul>
                    
                    <div class="alert alert-info">
                        <small>
                            <strong>Note:</strong> If you don't provide eggNOG annotations, CDS, or protein sequences, 
                            the pipeline will generate them automatically from the genome assembly and GFF3 file.
                        </small>
                    </div>
                </div>
            </div>
            
            <div class="panel panel-default" style="margin-top: 15px;">
                <div class="panel-heading">
                    <h5><i class="fa fa-upload"></i> Alternative: Bulk Upload</h5>
                </div>
                <div class="panel-body">
                    <p class="small">For multiple genomes, you can upload a CSV samplesheet instead.</p>
                    <a href="{% url 'starfish:starfish_samplesheet_upload' run.pk %}" class="btn btn-primary btn-sm">
                        <i class="fa fa-upload"></i> Upload CSV Samplesheet
                    </a>
                </div>
            </div>
            
            <div class="panel panel-default" style="margin-top: 15px;">
                <div class="panel-heading">
                    <h5><i class="fa fa-check-circle"></i> File Validation</h5>
                </div>
                <div class="panel-body">
                    <p class="small">The form will automatically validate that:</p>
                    <ul class="list-unstyled small">
                        <li><i class="fa fa-check text-success"></i> Files exist at the specified paths</li>
                        <li><i class="fa fa-check text-success"></i> Files are readable by the system</li>
                        <li><i class="fa fa-check text-success"></i> Required fields are not empty</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
