{% if genome_info %} {% load static %}

<table id="genome-table" class="table table-hover table-striped" width="100%">
  <thead>
    <tr>
      <th>Starship Name</th>
      <th>Organism</th>
      <th>Starship Length</th>
      <th># Genes</th>
      <th># Genes Unannotated</th>
      <th># Needs Review</th>
      <th># Green Flag</th>
      <th># Yellow Flag</th>
      <th># Red Flag</th>
      <th>Download Sequence</th>
      <th>Nav</th>
      <th>Genome Contig</th>
      <th>Start Coordinates</th>
      <th>End Coordinates</th>
    </tr>
  </thead>
  <tbody>
    {% for genome in genome_info %}
    <tr>
      <td>
        <a href="{% url 'genome:phage_detail' genome.pk %}"
          >{{ genome.genome_name }}</a
        >
      </td>
      <td>{{ genome.organism }}</td>
      <td>{{ genome.genome_length }}</td>
      <td>{{ genome.gene_count }}</td>
      <td>{{ genome.unpolished_gene_count }}</td>
      <td class="review-flag">{{ genome.review_name_gene_count }}</td>
      <td class="green-flag">{{ genome.green_gene_count }}</td>
      <td class="yellow-flag">{{ genome.yellow_gene_count }}</td>
      <td class="red-flag">{{ genome.red_gene_count }}</td>
      <td>
        <a href="{% url 'genome:phage_download_fasta' genome.pk %}"
          >download fasta</a
        >
      </td>
      <td>
        <a href="{% url 'phage-nav-redirect' genome.genome_name %}">
          <div class="glyphicon glyphicon-hand-right"></div>
        </a>
      </td>
      <td>{{ genome.contigID }}</td>
      <td>{{ genome.elementBegin }}</td>
      <td>{{ genome.elementEnd }}</td>
    </tr>
    {% endfor %}
  </tbody>

  <tbody></tbody>
</table>

{% else %}
<p>No Starships are available.</p>
{% endif %}
