{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'DataTables/datatables.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
<link rel="stylesheet" href="{% static 'starship/starship.css' %}" />
{% endblock %} {% block head %}
<meta charset="UTF-8" />
<title>MAS | {{ starship.starship_name }}</title>
<script src="/static/js/d3.min.js" charset="UTF-8"></script>
{{ feature_data|json_script:"feature_data" }} {% endblock %} {% block body %}
<div class="block">
  <h1>Starship Details: {{ starship.starship_name }}</h1>
  <table class="table-condensed">
    <tr>
      <td><b>ID: </b></td>
      <td>{{ starship.pk }}</td>
    </tr>
    <tr>
      <td><b>species: </b></td>
      <td>{{ starship.species }}</td>
    </tr>
    <tr>
      <td><b>Starship Length: </b></td>
      <td>{{ starship.starship_length }}</td>
    </tr>
    <tr>
      <td><b># Genes: </b></td>
      <td>{{ starship.gene_count }}</td>
    </tr>
    <tr>
      <td><b># Genes Unannotated: </b></td>
      <td>{{ starship.unpolished_gene_count }}</td>
    </tr>
    <tr>
      <td class="review-flag"><b>Need Review: </b></td>
      <td>{{ starship.review_name_gene_count }}</td>
    </tr>
    <tr>
      <td class="green-flag"><b>Green Flag: </b></td>
      <td>{{ starship.green_gene_count }}</td>
    </tr>
    <tr>
      <td class="yellow-flag"><b>Yellow Flag: </b></td>
      <td>{{ starship.yellow_gene_count }}</td>
    </tr>
    <tr>
      <td class="red-flag"><b>Red Flag: </b></td>
      <td>{{ starship.red_gene_count }}</td>
    </tr>
    <tr>
      <td>
        <b
          ><a href="{% url 'starship:starship_download_fasta' starship.pk %}"
            >download fasta</a
          ></b
        >
      </td>
    </tr>
    <tr>
      <td>
        <b
          ><a href="{% url 'starship:download_deliverables' starship.pk %}"
            >download deliverables</a
          ></b
        >
      </td>
    </tr>
  </table>
</div>

{% if features|length < 1000 %}
<div class="block">
  <svg id="chart" class="chart" width="100%" height="260"></svg>
</div>
{% endif %}

<div class="block">
  <h1>Annotations of {{ starship.starship_name }}</h1>
  {% include 'starship/annotation_list_table_serverside.html' %}
</div>

<div class="block">
  <h1>Features of {{ starship.starship_name }}</h1>
  {% include 'starship/features_table.html' %}
</div>

{% endblock %} {% block javascript %}
<script src="https://d3js.org/d3.v7.min.js"></script>
<script
  type="text/javascript"
  src="{% static 'DataTables/datatables.min.js' %}"
></script>
<script>
  const STARSHIP_LENGTH = {{ starship_length }};
  const STARSHIP_ID = {{ starship.id }};
  const GET_AA_SEQ_URL = "{% url 'starship:get_aa_sequence' %}";
  const GET_ANNO_DATA_URL = "{% url 'get_annotation_data' %}";
  const GET_FEATURE_SEQ_URL = "{% url 'starship:get_feature_sequence' %}";
</script>
<script
  type="application/javascript"
  src="{% static 'result_viewer/starship_visualization.js' %}"
></script>
<script
  type="application/javascript"
  src="{% static 'starship/feature_table.js' %}"
></script>
<script
  type="text/javascript"
  src="{% static 'starship/annotation_list_serverside.js' %}"
></script>
{% endblock %}
